In [1]:
#pip install supabase
#!pip install pydantic

In [2]:
import json
import time

import pandas as pd
import numpy as np

from bs4 import BeautifulSoup

from pydantic import BaseModel
from typing import List, Optional

from selenium import webdriver

from supabase import create_client, Client

In [3]:
driver = webdriver.Chrome()

In [4]:
#whoscored_url = "https://www.whoscored.com/matches/1729226/live/england-premier-league-2023-2024-manchester-united-manchester-city"
whoscored_url = "https://www.whoscored.com/matches/1775663/live/europa-champions-league-2023-2024-sevilla-arsenal"
#whoscored_url = "https://www.whoscored.com/matches/1903156/live/england-premier-league-2025-2026-west-ham-tottenham"

In [5]:
driver.get(whoscored_url)

In [6]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [7]:
element = soup.select_one('script:-soup-contains("matchCentreData")')

In [8]:
matchdict = json.loads(element.text.split("matchCentreData: ")[1].split(',\n')[0])

In [9]:
matchdict.keys()

dict_keys(['playerIdNameDictionary', 'periodMinuteLimits', 'timeStamp', 'attendance', 'venueName', 'referee', 'weatherCode', 'elapsed', 'startTime', 'startDate', 'score', 'htScore', 'ftScore', 'etScore', 'pkScore', 'statusCode', 'periodCode', 'home', 'away', 'maxMinute', 'minuteExpanded', 'maxPeriod', 'expandedMinutes', 'expandedMaxMinute', 'periodEndMinutes', 'commonEvents', 'events', 'timeoutInSeconds'])

In [10]:
matchdict['events'][55]

{'id': 2607962063.0,
 'eventId': 36,
 'minute': 2,
 'second': 6,
 'teamId': 67,
 'playerId': 115587,
 'x': 45.2,
 'y': 97.7,
 'expandedMinute': 2,
 'period': {'value': 1, 'displayName': 'FirstHalf'},
 'type': {'value': 1, 'displayName': 'Pass'},
 'outcomeType': {'value': 1, 'displayName': 'Successful'},
 'qualifiers': [{'type': {'value': 156, 'displayName': 'LayOff'}},
  {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'},
  {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '86.7'},
  {'type': {'value': 212, 'displayName': 'Length'}, 'value': '9.1'},
  {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '4.10'},
  {'type': {'value': 178, 'displayName': 'StandingSave'}},
  {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '40.2'}],
 'satisfiedEventsTypes': [91, 117, 30, 35, 38, 216, 218],
 'isTouch': True,
 'endX': 40.2,
 'endY': 86.7}

In [11]:
match_events = matchdict['events']

In [12]:
df = pd.DataFrame(match_events)

In [13]:
df.head()

,id,eventId,minute,second,teamId,x,y,expandedMinute,period,type,...,endY,relatedEventId,relatedPlayerId,goalMouthZ,goalMouthY,isShot,blockedX,blockedY,isGoal,cardType
0,2.607959e+09,2,0,0.0,67,0.0,0.0,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 32, 'displayName': 'Start'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.607959e+09,2,0,0.0,13,0.0,0.0,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 32, 'displayName': 'Start'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.607959e+09,3,0,0.0,13,49.7,49.9,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,52.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.607959e+09,4,0,3.0,13,28.6,55.6,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,68.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.607959e+09,5,0,6.0,13,71.7,69.6,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 44, 'displayName': 'Aerial'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.dropna(subset='playerId', inplace=True)

In [15]:
df = df.where(pd.notnull(df), None)

In [16]:
df.columns

Index(['id', 'eventId', 'minute', 'second', 'teamId', 'x', 'y',
       'expandedMinute', 'period', 'type', 'outcomeType', 'qualifiers',
       'satisfiedEventsTypes', 'isTouch', 'playerId', 'endX', 'endY',
       'relatedEventId', 'relatedPlayerId', 'goalMouthZ', 'goalMouthY',
       'isShot', 'blockedX', 'blockedY', 'isGoal', 'cardType'],
      dtype='object')

In [17]:
df = df.rename(
    {
        'eventId': 'event_id',
        'expandedMinute': 'expanded_minute',
        'outcomeType': 'outcome_type',
        'isTouch': 'is_touch',
        'playerId': 'player_id',
        'teamId': 'team_id',
        'endX': 'end_x',
        'endY': 'end_y',
        'blockedX': 'blocked_x',
        'blockedY': 'blocked_y',
        'goalMouthZ': 'goal_mouth_z',
        'goalMouthY': 'goal_mouth_y',
        'isShot': 'is_shot',
        'cardType': 'card_type',
        'isGoal': 'is_goal'
    },
    axis=1
)

In [18]:
df['period_display_name'] = df['period'].apply(lambda x: x['displayName'])
df['type_display_name'] = df['type'].apply(lambda x: x['displayName'])
df['outcome_type_display_name'] = df['outcome_type'].apply(lambda x: x['displayName'])

In [19]:
df.drop(columns=["period", "type", "outcome_type"], inplace=True)

In [20]:
# handling missing goals issue: in case of zero goals in a game - error 1
if 'is_goal' not in df.columns:
    print('missing goals')
    df['is_goal'] = False

In [ ]:
# handling missing cards issue (no cards shown in the game - error 3
if 'is_card' not in df.columns:
        df['is_card'] = False
        df['card_type'] = False

In [21]:
# handling the offside double ID issue by dropping the unnecessary offside values - error 2
# ~ means: don't include anything that meets this condition
df = df[~(df['type_display_name'] == "OffsideGiven")]

In [22]:
df['type_display_name'].head()

2         Pass
3         Pass
4       Aerial
5       Aerial
6    BallTouch
Name: type_display_name, dtype: object

In [23]:
df = df[[
    'id', 'event_id', 'minute', 'second', 'team_id', 'player_id', 'x', 'y', 'end_x', 'end_y',
    'qualifiers', 'is_touch', 'blocked_x', 'blocked_y', 'goal_mouth_z', 'goal_mouth_y', 'is_shot',
    'card_type', 'is_goal', 'type_display_name', 'outcome_type_display_name',
    'period_display_name'
]]

In [24]:
df.dtypes

id                           float64
event_id                       int64
minute                         int64
second                       float64
team_id                        int64
player_id                    float64
x                            float64
y                            float64
end_x                        float64
end_y                        float64
qualifiers                    object
is_touch                        bool
blocked_x                    float64
blocked_y                    float64
goal_mouth_z                 float64
goal_mouth_y                 float64
is_shot                       object
card_type                     object
is_goal                       object
type_display_name             object
outcome_type_display_name     object
period_display_name           object
dtype: object

In [25]:
df[['id', 'event_id', 'minute', 'team_id', 'player_id']] = df[['id', 'event_id', 'minute', 'team_id', 'player_id']].astype(int)
df[['second', 'x', 'y', 'end_x', 'end_y']] = df[['second', 'x', 'y', 'end_x', 'end_y']].astype(float)
df[['is_shot', 'is_goal', 'card_type']] = df[['is_shot', 'is_goal', 'card_type']].astype(bool)

In [26]:
df['is_goal'] = df['is_goal'].fillna(False)
df['is_shot'] = df['is_shot'].fillna(False)

In [27]:
for column in df.columns:
    if df[column].dtype == np.float64 or df[column].dtype == np.float32:
        df[column] = np.where(
            np.isnan(df[column]),
            None,
            df[column]
        )

In [28]:
df.iloc[0].to_dict()

{'id': 2607958855,
 'event_id': 3,
 'minute': 0,
 'second': 0.0,
 'team_id': 13,
 'player_id': 279379,
 'x': 49.7,
 'y': 49.9,
 'end_x': 28.1,
 'end_y': 52.8,
 'qualifiers': [{'type': {'value': 178, 'displayName': 'StandingSave'}},
  {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '52.8'},
  {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'},
  {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '3.05'},
  {'type': {'value': 212, 'displayName': 'Length'}, 'value': '22.8'},
  {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '28.1'}],
 'is_touch': True,
 'blocked_x': None,
 'blocked_y': None,
 'goal_mouth_z': None,
 'goal_mouth_y': None,
 'is_shot': False,
 'card_type': False,
 'is_goal': False,
 'type_display_name': 'Pass',
 'outcome_type_display_name': 'Successful',
 'period_display_name': 'FirstHalf'}

In [29]:
class MatchEvent(BaseModel):
    id: int
    event_id: int                       
    minute: int                         
    second: Optional[float] = None                       
    team_id: int                        
    player_id: int                    
    x: float                            
    y: float                            
    end_x: Optional[float] = None                        
    end_y: Optional[float] = None                        
    qualifiers: list[dict]                    
    is_touch: bool                        
    blocked_x: Optional[float] = None                    
    blocked_y: Optional[float] = None                    
    goal_mouth_z: Optional[float] = None                 
    goal_mouth_y: Optional[float] = None                 
    is_shot: bool                        
    card_type: bool                      
    is_goal: bool                        
    type_display_name: str             
    outcome_type_display_name: str     
    period_display_name: str

In [30]:
# supabase intergration

In [31]:
project_url = "https://emqugrtdqwgesnybxyqw.supabase.co"
api_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtcXVncnRkcXdnZXNueWJ4eXF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NTk1MzEsImV4cCI6MjA3MzQzNTUzMX0.46Fd9Qs2kM5Qr5930cygp8W-orxceRffL8aIboBdeq4"

In [32]:
def insert_match_events(df, supabase):
    events = [
        MatchEvent(**x).dict()
        for x in df.to_dict(orient='records')
    ]
    execution = supabase.table('match_events').upsert(events).execute()

In [33]:
supabase = create_client(project_url, api_key)

In [34]:
insert_match_events(df, supabase)

C:\Users\szerm\AppData\Local\Temp\ipykernel_10164\3158417592.py:3: PydanticDeprecatedSince20: The `dict` method is deprecated; use `model_dump` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.11/migration/
  MatchEvent(**x).dict()

In [35]:
team_info = []
team_info.append({
    'team_id': matchdict['home']['teamId'],
    'name': matchdict['home']['name'],
    'country_name': matchdict['home']['countryName'],
    'manager_name': matchdict['home']['managerName'],
    'players': matchdict['home']['players'],
})

team_info.append({
    'team_id': matchdict['away']['teamId'],
    'name': matchdict['away']['name'],
    'country_name': matchdict['away']['countryName'],
    'manager_name': matchdict['away']['managerName'],
    'players': matchdict['away']['players'],
})

In [ ]:
matchdict['home']['players']

In [37]:
class Player(BaseModel):
    player_id: int
    shirt_no: int
    name: str
    age: int
    position: str
    team_id: int

In [38]:
def insert_players(team_info, supabase):
    players = []
    for team in team_info:
        for player in team['players']:
            players.append({
                'player_id': player['playerId'],
                'team_id': team['team_id'],
                'shirt_no': player['shirtNo'],
                'name': player['name'],
                'position': player['position'],
                'age': player['age'],
        })
    execution = supabase.table('players').upsert(players).execute()

In [39]:
# insert into the database
insert_players(team_info, supabase)

In [40]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\szerm\anaconda3\lib\site-packages (2.9.10)

In [41]:
import psycopg2

In [42]:
supabase_password = 'UgMyWV4M6Wj2feD6'

In [43]:
# connect to the supabase database
conn = psycopg2.connect(
    user="postgres",
    password=supabase_password,
    host="db.emqugrtdqwgesnybxyqw.supabase.co",
    port=5432,
    database="postgres"
    
)

In [44]:
#create a cursor object to allows us to query the database w the connection
cursor = conn.cursor()

In [45]:
cursor.execute("""
    SELECT * FROM players;
"""),

(None,)

In [46]:
records = cursor.fetchall()

In [47]:
records

[(260843, 24, 'André Onana', 29, 'GK', 32),
 (353418, 20, 'Diogo Dalot', 26, 'DR', 32),
 (99487, 5, 'Harry Maguire', 32, 'DC', 32),
 (22079, 35, 'Jonny Evans', 37, 'DC', 32),
 (100008, 2, 'Victor Lindelöf', 31, 'DL', 32),
 (69344, 14, 'Christian Eriksen', 33, 'DMC', 32),
 (248144, 4, 'Sofyan Amrabat', 29, 'DMC', 32),
 (123761, 8, 'Bruno Fernandes', 31, 'AMR', 32),
 (336915, 39, 'Scott McTominay', 28, 'AMC', 32),
 (300299, 10, 'Marcus Rashford', 27, 'AML', 32),
 (439584, 11, 'Rasmus Højlund', 22, 'FW', 32),
 (437022, 17, 'Alejandro Garnacho', 21, 'Sub', 32),
 (364315, 21, 'Antony', 25, 'Sub', 32),
 (122366, 9, 'Anthony Martial', 29, 'Sub', 32),
 (362275, 15, 'Sergio Reguilón', 28, 'Sub', 32),
 (343346, 7, 'Mason Mount', 26, 'Sub', 32),
 (93206, 19, 'Raphaël Varane', 32, 'Sub', 32),
 (416207, 46, 'Hannibal Mejbri', 22, 'Sub', 32),
 (361707, 1, 'Altay Bayindir', 27, 'Sub', 32),
 (460260, 37, 'Kobbie Mainoo', 20, 'Sub', 32),
 (121774, 31, 'Ederson', 32, 'GK', 167),
 (69778, 2, 'Kyle Walker', 35, 'DR', 167),
 (313171, 3, 'Rúben Dias', 28, 'DC', 167),
 (101374, 5, 'John Stones', 31, 'DC', 167),
 (402664, 24, 'Josko Gvardiol', 23, 'DL', 167),
 (136741, 20, 'Bernardo Silva', 31, 'DMC', 167),
 (303139, 16, 'Rodri', 29, 'DMC', 167),
 (331254, 47, 'Phil Foden', 25, 'AMR', 167),
 (365409, 19, 'Julián Alvarez', 25, 'AMC', 167),
 (113069, 10, 'Jack Grealish', 30, 'AML', 167),
 (315227, 9, 'Erling Haaland', 25, 'FW', 167),
 (388098, 11, 'Jérémy Doku', 23, 'Sub', 167),
 (93894, 8, 'Mateo Kovacic', 31, 'Sub', 167),
 (133569, 18, 'Stefan Ortega', 32, 'Sub', 167),
 (122945, 6, 'Nathan Aké', 30, 'Sub', 167),
 (430709, 52, 'Oscar Bobb', 22, 'Sub', 167),
 (394933, 27, 'Matheus Nunes', 27, 'Sub', 167),
 (355110, 21, 'Sergio Gómez', 25, 'Sub', 167),
 (270446, 4, 'Kalvin Phillips', 29, 'Sub', 167),
 (444791, 82, 'Rico Lewis', 20, 'Sub', 167),
 (39187, 13, 'Ørjan Nyland', 35, 'GK', 67),
 (9446, 16, 'Jesús Navas', 39, 'DR', 67),
 (77417, 6, 'Nemanja Gudelj', 33, 'DC', 67),
 (9909, 4, 'Sergio Ramos', 39, 'DC', 67),
 (303729, 19, 'Marcos Acuña', 33, 'DL', 67),
 (345664, 24, 'Boubakary Soumaré', 26, 'DMC', 67),
 (317630, 18, 'Djibril Sow', 28, 'DMC', 67),
 (299490, 11, 'Dodi Lukébakio', 27, 'AMR', 67),
 (22732, 10, 'Ivan Rakitic', 37, 'AMC', 67),
 (115587, 5, 'Lucas Ocampos', 31, 'AML', 67),
 (323547, 15, 'Youssef En-Nesyri', 28, 'FW', 67),
 (75830, 17, 'Érik Lamela', 33, 'Sub', 67),
 (323236, 12, 'Mariano Díaz', 32, 'Sub', 67),
 (395187, 26, 'Juanlu Sánchez', 22, 'Sub', 67),
 (379208, 2, 'Federico Gattoni', 26, 'Sub', 67),
 (382492, 14, 'Tanguy Nianzou', 23, 'Sub', 67),
 (398416, 22, 'Loïc Badé', 25, 'Sub', 67),
 (259393, 1, 'Marko Dmitrovic', 33, 'Sub', 67),
 (300369, 9, 'Rafa Mir', 28, 'Sub', 67),
 (238941, 8, 'Joan Jordán', 31, 'Sub', 67),
 (105591, 7, 'Suso', 31, 'Sub', 67),
 (113708, 21, 'Óliver Torres', 30, 'Sub', 67),
 (363966, 3, 'Adrià Pedrosa', 27, 'Sub', 67),
 (276366, 22, 'David Raya', 29, 'GK', 13),
 (322036, 4, 'Ben White', 27, 'DR', 13),
 (334087, 6, 'Gabriel Magalhães', 27, 'DC', 13),
 (361822, 2, 'William Saliba', 24, 'DC', 13),
 (377283, 18, 'Takehiro Tomiyasu', 26, 'DL', 13),
 (106968, 20, 'Jorginho', 33, 'MC', 13),
 (247454, 8, 'Martin Ødegaard', 26, 'MC', 13),
 (332325, 41, 'Declan Rice', 26, 'MC', 13),
 (367185, 7, 'Bukayo Saka', 24, 'FWR', 13),
 (279379, 9, 'Gabriel Jesus', 28, 'FW', 13),
 (380706, 11, 'Gabriel Martinelli', 24, 'FWL', 13),
 (113994, 19, 'Leandro Trossard', 30, 'Sub', 13),
 (326413, 29, 'Kai Havertz', 26, 'Sub', 13),
 (424462, 15, 'Jakub Kiwior', 25, 'Sub', 13),
 (345845, 14, 'Eddie Nketiah', 26, 'Sub', 13),
 (125209, 25, 'Mohamed Elneny', 33, 'Sub', 13),
 (399501, 31, 'Karl Hein', 23, 'Sub', 13),
 (394924, 21, 'Fábio Vieira', 25, 'Sub', 13),
 (69945, 17, 'Cédric Soares', 34, 'Sub', 13),
 (273257, 35, 'Oleksandr Zinchenko', 28, 'Sub', 13),
 (316858, 1, 'Aaron Ramsdale', 27, 'Sub', 13),
 (363686, 10, 'Emile Smith Rowe', 25, 'Sub', 13),
 (342564, 24, 'Reiss Nelson', 25, 'Sub', 13)]

In [48]:
df = pd.DataFrame(records, columns=[desc[0] for desc in cursor.description])